@page "/"

<PageTitle>Home</PageTitle>
<link href="css/app.css" rel="stylesheet" />


<h1>Welcome to Event Ease!</h1>



<p>Discover and manage your events effortlessly.</p>
<NavLink href="/events" class="nav-link">Browse Events</NavLink>

<p>Join us to explore a variety of events happening around you.</p>
<NavLink href="/register" class="nav-link">Register here</NavLink>
